@import './../../../../mixins.scss';

nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100px;
    z-index: 1000;
    @include dFlex(space-between, center);

    >img {
        width: 64px;
        height: 64px;
        flex-shrink: 0;
    }
    
    >div {
        display: flex;
        align-items: center;
        gap: 24px;
        flex-shrink: 0;

        >a {
            cursor: pointer;
            
            &:hover {
                color: red;
            }
        }
    }
}

a {
    text-decoration: none;
    color: whitesmoke;
    padding-right: 8px;
    white-space: nowrap;
}

.phone_btn {
    display: flex;
    align-items: center;
    gap: 8px;
    white-space: nowrap;
    padding: 8px;
    background-color: #9F0908;
    border-radius: 16px;
    border: 1px solid whitesmoke;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #B50A09;
    }
    
    >img {
        width: 24px;
        height: 24px;
        flex-shrink: 0;
    }

    >span {
        font-size: 1rem;
        color: whitesmoke;
    }
}