@import './../../../../mixins.scss';

.footer{
    @include dFlex($jc: space-between);
}

.footer_right {
    
    a {
        color: #333;
        text-decoration: none;
        
        &:hover {
            color: red;
        }
    }
}