<div class="spacer-large">
  <div class="imprint-container max-content-width">
    <h1>Impressum</h1>
    
    <section>
      <h2>Angaben gemäß § 5 TMG</h2>
      <p>
        Vitali Banmann<br>
        Im Siel 42<br>
        41836 Hückelhoven<br>
      </p>
    </section>

    <section>
      <h2>Kontakt</h2>
      <p>
        E-Mail: vitali.banmann+sakura@gmail.com
      </p>
    </section>

    <section>
      <h2>Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV</h2>
      <p>
        Vitali Banmann<br>
        Im Siel 42<br>
        41836 Hückelhoven
      </p>
    </section>
  </div>
</div>  