* {
    margin: 0;
    padding: 0;
}

.fontRaleway {
    font-family: 'Raleway';
}

@font-face {
    font-display: swap;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: url('./../../../Modul-3ramen/assets/fonts/raleway/static/Raleway-Italic.ttf') format('truetype');
}

